<%- include('partials/header.html') %>


    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Busca:</h2>
            <div class="center">
                
                <div style="width: 100%;" class="mais-lidas">
                    <br>
                    <h3>33 resultados</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div><!--mais-lidas-noticias-->
                </div><!--mais-lidas-->
            </div><!--center-->
        </div><!--title-outras-->
    </section>

    <%- include('partials/footer.html') %>
</body>
</html>