<%- include('partials/header.html') %>
<section class="noticia-destaque">
        <div class="center">
            <div class="img-destaque">
                <div class="overlay-destaque"></div>
                <div class="title-destaque-descricao">
                    <h2>Quer fugir das Praias de Verão?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga blanditiis provident libero veniam quisquam quam fugit cum, nobis eos voluptatem laborum repudiandae quasi sequi dolorem sapiente quidem esse totam ipsam?</p>
                </div>
                <img src="/public/images/photo1.avif" alt="" srcset="">
            </div><!--img-destaque-->
        </div><!--center-->
    </section>

    <section class="outras-noticias">
        <div class="title-outras-noticias">
            <h2>Últimas Notícias</h2>
            <div class="center">
                <div class="ultimas">
                    <div class="box-ultimas-single">
                        <img src="/public/images/image2.jpeg">
                        <h3>Natureza e Geral</h3>
                        <div class="conteudo-noticia-single">
                        <h2>Como Encarar o Surf em Floripa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolores eius cum laborum, tempore impedit inventore accusantium rem eligendi assumenda blanditiis voluptas provident voluptates dolorem corrupti quam nostrum modi rerum!</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div><!--box-ultimas-->

                    <div class="box-ultimas-single">
                        <img src="/public/images/image2.jpeg">
                        <h3>Natureza e Geral</h3>
                        <div class="conteudo-noticia-single">
                        <h2>Como Encarar o Surf em Floripa</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolores eius cum laborum, tempore impedit inventore accusantium rem eligendi assumenda blanditiis voluptas provident voluptates dolorem corrupti quam nostrum modi rerum!</p>
                        <a href="/encarar-o-surf">Saiba mais</a>
                        </div>
                    </div><!--box-ultimas-->
                </div><!--ultimas-->
                <div class="mais-lidas">
                    <br>
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div><!--mais-lidas-noticias-->
                </div><!--mais-lidas-->
            </div><!--center-->
        </div><!--title-outras-->
    </section>

    <%- include('partials/footer.html') %>
</body>
</html>