<%- include('partials/header.html') %>
<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2>Dez principais habilidades para se tornar um desenvolverdor full-stack</h2>
            <div class="autor-nome">
                <span>Por Eduardo sena</span>
            </div><!--autor-nome-->

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quidem quas laboriosam deserunt aliquam voluptatum aspernatur! Libero sunt, veritatis eos exercitationem</p> <h3>full-stack</h3><p> mollitia explicabo perferendis laborum, molestiae facere architecto cum quasi!]</p>
        </div><!--noticia-single-->
        
         <div class="mais-lidas">
                    <br>
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div><!--mais-lidas-noticias-->
                </div><!--mais-lidas-->
    </div><!--center-->
</section>
<%- include('partials/footer.html') %>
    
</body>
</html>