<%- include('partials/header.html') %>
<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span>Por <%= noticia.autor %></span>
            </div><!--autor-nome-->
            <br>
            <div><img style="max-width: 100%;" src="<%= noticia.imagem %>"></div>
            
            <p><%- noticia.conteudo %></p>
        </div><!--noticia-single-->
        
         <div class="mais-lidas">
                    <h3>Mais Lidas</h3>
                    <div class="mais-lidas-noticias">
                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>

                        <div class="mais-lidas-noticias-single">
                            <img src="/public/images/snow.jpg">
                            <div class="texto-mais-lidas-single">
                                <h4>Natureza</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo qui minima nesciunt autem harum, rem accusantium velit, voluptatem recusandae facere alias maxime debitis id perspiciatis. Ut nulla deleniti tenetur ipsam.</p>
                                <a href="/encarar-o-surf">Saiba mais</a>
                            </div>
                        </div>
                    </div><!--mais-lidas-noticias-->
                </div><!--mais-lidas-->
    </div><!--center-->
</section>
<%- include('partials/footer.html') %>
    
</body>
</html>